* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
main {
    width: 100%;
}

@media all and (min-width: 768px) {
    #user-title {
        font-size: 2.7em;
        top: .1em;
        color: white;
    }
    
    img#logo {
        display: inline-block;
        float: left;
        margin-top: -5em;
    }

    .intro-container {
        margin-top: 5em;
    }

    #usersignup {
        width: 75%;
        margin: auto;
    }

    #para-welcome {
        text-align: center;
    }

    #password-box {
        margin-bottom: .4em;
    }

    #email-box {
        margin-bottom: .2em;
    }    
}

/* end desktop styling */

th button {
    width: 100%;
    background: none;
    color: black;
}

nav img {
    float: left;
    margin: .5em;
}

.invisible {
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFC3B4;
    width: 100%;
    padding-bottom: .2em;
    margin-top: -.5em;
}
.list-name {
    border-bottom: 2px white solid;
    padding: 5px;
}

li:last-child {
    border-bottom: none;
}
.ul-lists {
    border-top: 2px white solid;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#welcome {
    font-size: 1em;
}

#para-welcome {
    font-size: .75em;
}

#logo-small {
    height: 7em;
    position: absolute;
    left: .2em;
}

.nav-wrapper  {
    padding-left: 0px;
    padding-right: 0px;
    background: #e23610;
    margin-top: 2em;
    overflow-y:scroll;
}

.list-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.overflow {
    overflow-y: scroll;
    height: 15em;
}

/* Table Styling */

tr:nth-child(even) {
    background: #ee7c61;
    color: white;
}

tr:nth-child(odd) {
    background: #FFF;
}

table {
    border-collapse: collapse;
}

/* table border radius */

table tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child th:last-child {
    border-bottom-right-radius: 10px;
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

/* End Table Styling */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFC3B4;
    width: 100%;
    padding-bottom: .2em;
}

#user-title {
    float: right;
    font-weight: 900;
    color: black;
    font-size: 2em;
    margin: .9em 0 0 0;
}
#user-title {
    top:30px;
    left: 150px;
}

#logo-banner {
    display: inline-block;
}

.list-name {
    list-style: none;
    font-weight: 900;
    font-size: 1.5em;
}

.list-container {
    background: #e23610;
    border-radius: 10px;
    border: 2px solid white;
}

div.list-add-song {
    color: white;
}

#song-requests-table {
    margin-top: .2em;
    table-layout: fixed;
    overflow-wrap:break-word;
}
#login {
    border: none;
}

#logo {
    display: block;
    max-width: 50%;
    max-height:50%;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    text-align: center;
}

#para-welcome {
    text-align: left;
}

#intro-page {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

input {
    border-radius: 15px;
    width: 100%;
    padding: .75em;
    height: 30px;
    margin-bottom: 5px;
    font-size: .75em;
}

#js-new-music-list {
    margin-bottom: .5em;
}

.border-top-bottom {
    margin-top: .2em;
    margin-bottom: .2em;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
}

.create-a-list {
    margin: .7em 0 .3em 0;
}

.add-remove {
    font-size: 0;
}

#delete {
    background: #ff0000;
    color: white;
    font-weight: lighter;
    margin-bottom: .5em;
    border-radius: 5px;
    width: 50%;
    height: 3em;
    font-size: 18px;
}

#create-new-list {
    background: green;
    color: white;
    margin-bottom: .5em;
    border-radius: 5px;
    width: 50%;
    height: 3em;
    font-size: 18px;
}

.submit-button {
    border: 1px #e23610;
    border-radius: 15px;
    width: 100%;
    color: white;   
    background-color: #e23610;
    font-size: 1em;
    padding: .2em;
}

#password, #email {
    display:none;
}

.js-signUp {
    text-align: center;
    cursor: pointer;
    
}
.js-signUp span {
    text-decoration: underline;
}
.js-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: .4em;
}

body {
    background: #FFC3B4;
}

#usersignup {
    text-align: center;
    padding: 5px;
}

nav h2 {
    font-size: 2.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    padding-bottom: .15em;
    padding-top: .15em;
    color: white;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

ul.charts-nav {
    -webkit-padding-start: 0px;
    margin-left: auto;
    margin-right: auto;
}

.charts-nav {
    color: white;
    list-style: none;
    font-size: 1em;
    width: 100%;
    background-color: #e23610;
}

.list-heading {
    font-size: 2em;
    color: white;
}

.js-top-50-viral {
    font-size: 1.5em;
    text-align: right;
    color:white;
}

.js-top-50-wedding {
    font-size: 1.5em;
    color: white;
}

.charts-nav {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    border-top: white 2px solid;
}

ul li {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    padding: .2em;
    list-style: none;
    color: white;
    font-size: 1.5em;
}

legend {
    text-align: center;
}
.hover:hover {
    cursor: pointer;
}

.js-signUp:hover, 
.delete-x:hover, 
.list-name:hover, 
.list-nav img:hover, 
.js-top-50-viral:hover, 
.js-click-list:hover, 
.submit-button:hover {
    cursor:pointer;
    filter: contrast(200%);
}